API_SECRET=abcedf
API_URL=https://<a-tenant-name>.aws-us-east-1.cubecloudapp.dev/cubejs-api/v1/
STAGING_ENV_BRANCH=paco/test-multiple-time-dims
STAGING_ENV_API_URL=https://<a-tenant-name>.aws-us-east-1.cubecloudapp.dev/staging/<branch-name>/cubejs-api/v1/